// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'dashboard/SideBar';
@import 'dashboard/Header';
@import 'dashboard/MainDashboard';
@import 'dashboard/SideBarNavList';

@import 'loginportal/UserLogin';