/* Sidebar styles */
.sidebar-container {
  height: 100%;
  width: 250px; /* Adjust sidebar width as needed */
  background-color: #131f73; /* Sidebar background color */
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* Ensure the Menu takes full height */
.ant-menu {
  flex-grow: 1; /* Make the menu fill the remaining space */
  width: 100%;
}

/* Separator styling */
.separator {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 2px solid #fff;
  margin-left: 40px; /* Adds spacing from the left edge */
  margin-right: 40px; /* Adds spacing from the right edge */
}


